docs/assignments/TextAnalysis/Class-Examples/ozyTester_Class.rnc

start = twinkie
twinkie = element Ozymandias {layer}

#twinkie is a label
#<Ozymandias> is the actual element name

layer = element layer {agent, pos?, line*}
agent = attribute agent {"I" | "traveller" | "sculptor" | text }
line = element line {n, mixed{ (layer | ellipsis)* } }
n = attribute n {xsd:integer}
ellipsis = element ellipsis {rend, empty}
rend = attribute rend {text}
pos = attribute pos {"start" | "end"}


